/**
 * 通知设置页面样式
 */

.container {
  padding: 24px;
  background: #f0f2f5;
  min-height: calc(100vh - 64px);
}

.card {
  border-radius: 8px;
}

.innerCard {
  border-radius: 8px;
  margin-bottom: 0;

  :global {
    .ant-card-head {
      min-height: 48px;
    }
  }
}
